<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Course name</th>
            <th>course code</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Sample Data, replace this with actual course data from your backend -->
        {% for  course in courses %}
        <tr>
          
            <td>{{ course.id }}</td>
            <td>{{ course.course_name}}</td>
            <td>{{ course.course_code}}</td>

           

            <td>
                {% if request.user.accesslevel == 1 %}
                <a href="{% url 'editcourse' course.id %}" class="btn btn-warning btn-sm">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm deleteitem"  data-url="{% url 'deletecourse' course.id %}" data-name = "Course {{ course.course_name }}">
                    <i class="fas fa-trash-alt"></i> Delete
                </a>
                {% endif %}
            </td>
           

        </tr>
        {% endfor %}
        <!-- Add more rows for additional users -->
    </tbody>
</table>