<table class="table table-bordered">
    <thead>
        <tr>
            <th>Unit ID</th>
            <th>Unit name</th>
            <th>Course name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Sample Data, replace this with actual user data from your backend -->
        {% for unit in units %}
        <tr>
          
            <td>{{ unit.id }}</td>
            <td>{{ unit.unit_name }}</td>
            <td>{{ unit.course_id.course_name }}</td>
            

            <td>
                {% if request.user.accesslevel == 1 %}
                <a href="{% url 'editunit' unit.id %}" class="btn btn-warning btn-sm">
                    <i class="fas fa-edit"></i> 
                </a>
                <a href="javascript:void(0);" class="btn btn-danger btn-sm deleteitem"  data-url="{% url 'deleteunit' unit.id %}" data-name = "Unit {{ unit.unit_name}}">
                    <i class="fas fa-trash-alt"></i> Delete
                </a>
                {% endif %}
            </td>
            

        </tr>
        {% endfor %}
        <!-- Add more rows for additional users -->
    </tbody>
</table>