{% extends 'layout/layout.html'%}
{% load static %}
{% block mid_section %}
    <div class="container-fluid">
        <h1 class="mt-4">Welcome to the Admin Dashboard</h1>
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
             {% endfor %}      
<form method="post">
    {% csrf_token %}

    <label for="student">Student:</label>
    <select id="student" class="form-control" placeholder="Select Student" name="student" data-course-url ="{% url 'studentunits' %}">
        <option value="">Select student</option>
        {% for student in students %}
        <option value="{{ student.id }}">{{ student.firstname }} {{ student.last_name }}</option>
        {% endfor %}
        
        
    </select>

    <br>
   
    <select id="unitnames" class="form-control" placeholder="Select unit" name="unitname" >
        <option value="">Select unit</option>
        
        
        
    </select>
    
    
    <br>
    <select id="semister" class="form-control" placeholder="Select Semister" name="Semister" >
        {% for sem in sems %}
        <option value="{{ sem.id }}">{{ sem.sem_name }}</option>
        {% endfor %}
        
    </select>
    <br>

    <label for="score">Score:</label>
    <input type="number" class="form-control" id="score" name="score" required>
    <span id="scoreError" style="color: red; display: none;">Score must be between 0 and 100.</span>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}