
{% extends 'layout/layout.html'%}
{% load static %}
{% block mid_section %}


    <!-- Page Content -->

        <div class="container-fluid">
            <h1 class="mt-4">Welcome to GPA {% if request.user.accesslevel == 1 %} Admin {% elif request.user.accesslevel == 2 %} Lecturer {% else %} Student {% endif %}portal  </h1>

            {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
            {% endfor %}   
            <!-- Your content here -->
            <form id="registrationuserForm"  method="post" data-course-url = "{% url 'fetchuserCourse' %}">
                {% if form.errors %}
                            <div class="alert alert-danger">
                                <strong>Oops! There was an error:</strong>
                                <ul>
                                    {% for field, error in form.errors.items %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="firstname">First Name</label>
                        {{ form.firstname}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="middlename">Middle Name</label>
                        {{ form.middle_name}}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="lastname">Last Name</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="form">Phone</label>
                    {{ form.phone_number }}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                <label for="password">Confirm Password</label>
                    {{ form.password2 }}
                </div>
                <div class="form-group">
                    <label for="userType">User Type</label>
 
                        
                        {{ form.accesslevel }}
                        
                    
                </div>
                <div class="form-group" id="addcourses">
                   
 
                        
                        
                        
                    
                </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
            
        </div>
 
    <!-- /#page-content-wrapper -->

{% endblock %}